/* styles/globals.css */

:root {
    --fg: #000;
    --bg: #fff;
}

[data-theme='dark'] {
    --fg: #fff;
    --bg: #000;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    transition: background 0.25s ease-in-out;
}

h1 {
    color: var(--color-text-secondary);
}